body{
    background-color: #181818;
}




.leftbg>img{
    position: absolute;
}

.ntimg>img{
    position: absolute;
}

.iconman>img{
    position: absolute;
    left: 70px;
    top: 102px;
}

.nametl{
    position: absolute;
    color: #FFFFFF;
    left: 73px;
    top: 210px;
    font-size: 20px;
    font-family: 'Roboto';
    font-family: Arial, Helvetica, sans-serif;
}

.txfr{
    position: absolute;
    left: 41px;
    top: 239px;
    font-size: 17px;
    font-family: 'Roboto';
    color: #9c9999;
    font-family: Arial, Helvetica, sans-serif;
}

.socialssvg>img{
    position: absolute;
    left: 90px;
    top: 289px;
    cursor: pointer;
}

.btximg>img{
    position: absolute;
    top: 400px;
    left: 20px;
}

.line1>img{
    position: absolute;
    left: 28px;
    top: 380px;
}

.line2>img{
    position: absolute;
    left: 21px;
    top: 530px;
}

.redbtnimg>img{
    position:absolute;
    top: 570px;
}

.redbtnimg>p{
    position: absolute;
    top: 570px;
    left: 37px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.bluebtnimg>img{
    position: absolute;
    top: 571px;
    left: 160px;
    cursor: pointer;
}

.bluebtnimg>p{
    position: absolute;
    top: 570px;
    left: 185px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.header>img{
    position: absolute;
    left: 286px;
}

.gl>p{
    position: absolute;
    left: 333px;
    color: #FFFFFF;
    font-size: 14px;
    top: 3px;
    font-family:Arial, Helvetica, sans-serif

}

.gl>p:hover{
    color: #3137C9;
    cursor: pointer;
}

.st>p{
    position: absolute;
    left: 454px;
    color: #FFFFFF;
    top: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.st>p:hover{
    color: #3137C9;
    cursor: pointer;
}

.itic>img{
    position: absolute;
    left: 530px;
    top: 20px;
}

.oboic>p{
    position: absolute;
    left: 580px;
    top: 3px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.oboic>p:hover{
    color: #3137C9;
    cursor: pointer;
}

.rek>p{
    position: absolute;
    color: #FFFFFF;
    left: 690px;
    top: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.rek>p:hover{
    color: #3137C9;
    cursor: pointer;
}

.prof>p{
    position: absolute;
    color: #FFFFFF;
    left: 900px;
    top: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.prof>p:hover{
    color: #3137C9;
    cursor: pointer;
}

.bgfather>img {
    position: absolute;
    left: 360px;
    top: 90px;
}

.bc>p{
    position: absolute;
    color: grey;
    left: 407px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.bc>p:hover{
    color: #ffffff;
    cursor: pointer;
}

.pod>p{
    position: absolute;
    color: grey;
    left: 860px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.pod>p:hover{
    color: #ffffff;
    cursor: pointer;
}

.sharesvg>img{
    position: absolute;
    left: 950px;
    top: 109px;
}

.ttg>h1{
    position: absolute;
    color: #FFFFFF;
    left: 410px;
    top: 130px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.txdata>p{
    position: absolute;
    color: grey;
    left: 410px;
    top: 159px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.ketsvg>img{
    position: absolute;
    left: 499px;
    top: 178px;
}

.makesaittx>p{
    position: absolute;
    color: grey;
    left: 520px;
    top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.loremtx>img{
    position: absolute;
    left: 410px;
    top: 217px;
}

.kodimg>img{
    position: absolute;
    left: 410px;
    top: 490px;
}

.lrtx>p{
    position: absolute;
    left: 410px;
    top: 490px;
    width: 550px;
    height: 146px;
    top: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d4d4d4;
    font-size: 14px;
}


.line4>img{
    position: absolute;
    left: 410px;
    top: 960px;

}

.readtit>p{
    position: absolute;
    left: 410px;
    top: 490px;
    top: 980px;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-size: 17px;
}

.nd1>p{
    position: absolute;
    left: 410px;
    top: 1034px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F3EBA2;
    font-size: 15px;
}
.nd1>p:hover{
    color: #fced67;
    cursor: pointer;
}

.nd1data>p{
    position: absolute;
    left: 410px;
    top: 1058px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.nd2>p{
    position: absolute;
    left: 718px;
    top: 1034px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F3EBA2;
    font-size: 15px;
}

.nd2>p:hover{
    color: #fced67;
    cursor: pointer;
}

.nd2data>p{
    position: absolute;
    left: 718px;
    top: 1058px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.nd3>p{
    position: absolute;
    left: 410px;
    top: 1100px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F3EBA2;
    font-size: 15px;
}
.nd3>p:hover{
    color: #fced67;
    cursor: pointer;
}

.nd3data>p{
    position: absolute;
    left: 410px;
    top: 1124px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.nd4>p{
    position: absolute;
    left: 719px;
    top: 1100px;
    font-family: Arial, Helvetica, sans-serif;
    color:#F3EBA2;
    font-size: 15px;
}

.nd4data>p{
    position: absolute;
    left: 720px;
    top: 1124px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.nd4>p:hover{
    color: #fced67;
    cursor: pointer;
}

.line5>img{
    position: absolute;
    left: 410px;
    top: 1200px;
}

.txo>p{
    position: absolute;
    left: 410px;
    top: 1207px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.koment>input{
    position: absolute;
    left: 410px;
    top: 1270px;
    border:none;
    outline:none;
    border-bottom: 1px solid;
    background-color: transparent;
    /*width: 100%;*/
    width: 500px;
    transition: 0.3s;
    font-size: 16px;
}

.lastbtn>button{
    position: absolute;
    width: 99px;
    height: 32px;
    left: 410px;
    top: 1305px;
    font-size: 16px;
    background-color:#3137C9;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
}

.lastbtn>button:hover{
    background-color: #262a91;
    cursor: pointer;
}

/*.punkvv>img{
    position: absolute;
    left: 991px;
}*/

.punkvv>input{
    position: absolute;
    left: 1009px;
    top: 9px;
    font-size: 20px;
    width: 280px;
    height: 36px;
    border: none;
    background-color: #222222;
    outline: none;
    size: 10px;

}


.punkvv>input::placeholder{
    position: absolute;
    font-size: 15px;
    left: 19px;
    top:9px;
    color: #FFFFFF66;
    font-family: Arial, Helvetica, sans-serif;
}
.dimitri>img{
    position:absolute;
    left: 424px;
    top: 1358px;
}

.dimitri>p{
    position:absolute;
    left: 467px;
    top: 1350px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.dimitritxt>p{
    position:absolute;
    left: 465px;
    top: 1371px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
}


.dimitricomment>p{
    position:absolute;
    left: 465px;
    top: 1390px;
    width: 550px;
    height: 32px;
    color: #b9b9b9;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.answer1>p{
    position:absolute;
    left: 465px;
    top: 1406px;
    color: #107EFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.answer1>p:hover{
    color: #1066c9;
}




.negrimg>img{
    position:absolute;
    left: 450px;
    top: 1449px;
}

.negrimg>p{
    position:absolute;
    left: 500px;
    top: 1441px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

}   


.negrtxt>p{
    position:absolute;
    left: 497px;
    top: 1460px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
}

.negrcomment>p{
    position:absolute;
    left: 451px;
    top: 1480px;
    width: 510px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b9b9b9;


}

.answer2>p{
    position:absolute;
    left: 451px;
    top: 1530px;
    color: #107EFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.answer2>p:hover{
    color: #1066c9;
}

.geoimg>img{
    position: fixed;
    left: 1070px;
    top: 300px;
}

.geoimg>p{
    position: fixed;
    left: 1070px;
    top: 500px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.geoimg>p:hover{
    color: #262a91;
}


.thebiggest{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
